In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('municipality_bus_utilization.csv')
df.head()

             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:59:42                9    454            1332
1  2017-06-04 07:59:42                8    556            2947
2  2017-06-04 07:59:42                4   1090            3893
3  2017-06-04 07:59:42                0    204            2813
4  2017-06-04 07:59:42                7    718            2019

In [3]:
df.timestamp=df.timestamp.apply(pd.to_datetime)

In [4]:
df.head()

            timestamp  municipality_id  usage  total_capacity
0 2017-06-04 07:59:42                9    454            1332
1 2017-06-04 07:59:42                8    556            2947
2 2017-06-04 07:59:42                4   1090            3893
3 2017-06-04 07:59:42                0    204            2813
4 2017-06-04 07:59:42                7    718            2019

In [5]:
df["Hour"]=df.timestamp.dt.hour
df["day"]=df.timestamp.dt.day
df["month"]=df.timestamp.dt.month
df["year"]=df.timestamp.dt.year

In [6]:
df.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
0,2017-06-04 07:59:42,9,454,1332,7,4,6,2017
1,2017-06-04 07:59:42,8,556,2947,7,4,6,2017
2,2017-06-04 07:59:42,4,1090,3893,7,4,6,2017
3,2017-06-04 07:59:42,0,204,2813,7,4,6,2017
4,2017-06-04 07:59:42,7,718,2019,7,4,6,2017

In [7]:
len(df)

13070

In [8]:
df_test = df[10390:] # It starts 2017-08-05
df_test.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
10390,2017-08-05 08:02:03,1,141,397,8,5,8,2017
10391,2017-08-05 08:02:03,6,494,3113,8,5,8,2017
10392,2017-08-05 08:02:03,7,581,2019,8,5,8,2017
10393,2017-08-05 08:02:03,4,1782,3893,8,5,8,2017
10394,2017-08-05 08:02:03,8,453,2947,8,5,8,2017

Group by municipality_id for test set and train set

In [9]:
df_id_0 = df[df['municipality_id'] == 0]
df_id_1 = df[df['municipality_id'] == 1]
df_id_2 = df[df['municipality_id'] == 2]
df_id_3 = df[df['municipality_id'] == 3]
df_id_4 = df[df['municipality_id'] == 4]
df_id_5 = df[df['municipality_id'] == 5]
df_id_6 = df[df['municipality_id'] == 6]
df_id_7 = df[df['municipality_id'] == 7]
df_id_8 = df[df['municipality_id'] == 8]
df_id_9 = df[df['municipality_id'] == 9]


df_test_id_0 = df_test[df_test['municipality_id'] == 0]
df_test_id_1 = df_test[df_test['municipality_id'] == 1]
df_test_id_2 = df_test[df_test['municipality_id'] == 2]
df_test_id_3 = df_test[df_test['municipality_id'] == 3]
df_test_id_4 = df_test[df_test['municipality_id'] == 4]
df_test_id_5 = df_test[df_test['municipality_id'] == 5]
df_test_id_6 = df_test[df_test['municipality_id'] == 6]
df_test_id_7 = df_test[df_test['municipality_id'] == 7]
df_test_id_8 = df_test[df_test['municipality_id'] == 8]
df_test_id_9 = df_test[df_test['municipality_id'] == 9]

In [10]:
df_id_0.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
3,2017-06-04 07:59:42,0,204,2813,7,4,6,2017
18,2017-06-04 08:25:42,0,247,2813,8,4,6,2017
29,2017-06-04 08:59:42,0,332,2813,8,4,6,2017
34,2017-06-04 09:32:46,0,429,2813,9,4,6,2017
47,2017-06-04 09:59:48,0,485,2813,9,4,6,2017

In [11]:
df_id_9.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
0,2017-06-04 07:59:42,9,454,1332,7,4,6,2017
11,2017-06-04 08:25:42,9,487,1332,8,4,6,2017
21,2017-06-04 08:59:42,9,527,1332,8,4,6,2017
31,2017-06-04 09:32:46,9,599,1332,9,4,6,2017
48,2017-06-04 09:59:48,9,666,1332,9,4,6,2017

In [12]:
df_test_id_0.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
10398,2017-08-05 08:02:03,0,209,2813,8,5,8,2017
10407,2017-08-05 08:29:08,0,252,2813,8,5,8,2017
10416,2017-08-05 09:02:08,0,322,2813,9,5,8,2017
10425,2017-08-05 09:29:08,0,393,2813,9,5,8,2017
10434,2017-08-05 10:03:04,0,460,2813,10,5,8,2017

In [13]:
df_test_id_9.head()

,timestamp,municipality_id,usage,total_capacity,Hour,day,month,year
10397,2017-08-05 08:02:03,9,304,1332,8,5,8,2017
10406,2017-08-05 08:29:08,9,333,1332,8,5,8,2017
10418,2017-08-05 09:02:08,9,369,1332,9,5,8,2017
10426,2017-08-05 09:29:08,9,424,1332,9,5,8,2017
10433,2017-08-05 10:03:04,9,502,1332,10,5,8,2017

# Preparing to Train Dataset

In [14]:
dic0,dic1,dic2,dic3,dic4,dic5,dic6,dic7,dic8,dic9 = {},{},{},{},{},{},{},{},{},{}

In [15]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_0['Hour'],df_id_0['day'],df_id_0['month'],df_id_0['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic0:
                    dic0[full_date] = use
            else:
                dic0[full_date] += use

In [16]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_1['Hour'],df_id_1['day'],df_id_1['month'],df_id_1['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic1:
                    dic1[full_date] = use
            else:
                dic1[full_date] += use

In [17]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_2['Hour'],df_id_2['day'],df_id_2['month'],df_id_2['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic2:
                    dic2[full_date] = use
            else:
                dic2[full_date] += use

In [18]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_3['Hour'],df_id_3['day'],df_id_3['month'],df_id_3['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic3:
                    dic3[full_date] = use
            else:
                dic3[full_date] += use

In [19]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_4['Hour'],df_id_4['day'],df_id_4['month'],df_id_4['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic4:
                    dic4[full_date] = use
            else:
                dic4[full_date] += use

In [20]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_5['Hour'],df_id_5['day'],df_id_5['month'],df_id_5['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic5:
                    dic5[full_date] = use
            else:
                dic5[full_date] += use

In [21]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_6['Hour'],df_id_6['day'],df_id_6['month'],df_id_6['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic6:
                    dic6[full_date] = use
            else:
                dic6[full_date] += use

In [22]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_7['Hour'],df_id_7['day'],df_id_7['month'],df_id_7['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic7:
                    dic7[full_date] = use
            else:
                dic7[full_date] += use

In [23]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_8['Hour'],df_id_8['day'],df_id_8['month'],df_id_8['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic8:
                    dic8[full_date] = use
            else:
                dic8[full_date] += use

In [24]:
for _ ,(h,d,m,use) in enumerate (zip(df_id_9['Hour'],df_id_9['day'],df_id_9['month'],df_id_9['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in dic9:
                    dic9[full_date] = use
            else:
                dic9[full_date] += use

In [25]:
dic9

{'7-4-6': 454,
 '8-4-6': 1014,
 '9-4-6': 1265,
 '10-4-6': 1524,
 '11-4-6': 1674,
 '12-4-6': 845,
 '13-4-6': 1639,
 '14-4-6': 2388,
 '15-4-6': 725,
 '16-4-6': 1300,
 '7-5-6': 462,
 '8-5-6': 496,
 '9-5-6': 1198,
 '10-5-6': 1489,
 '11-5-6': 1606,
 '12-5-6': 2474,
 '13-5-6': 1660,
 '14-5-6': 1583,
 '15-5-6': 717,
 '16-5-6': 1335,
 '7-6-6': 413,
 '8-6-6': 972,
 '9-6-6': 559,
 '10-6-6': 2055,
 '11-6-6': 758,
 '12-6-6': 2346,
 '13-6-6': 1578,
 '14-6-6': 745,
 '15-6-6': 1435,
 '16-6-6': 1296,
 '8-7-6': 836,
 '9-7-6': 1625,
 '10-7-6': 1278,
 '11-7-6': 666,
 '12-7-6': 1411,
 '13-7-6': 1401,
 '14-7-6': 1361,
 '15-7-6': 1817,
 '16-7-6': 540,
 '7-8-6': 308,
 '8-8-6': 693,
 '9-8-6': 410,
 '10-8-6': 1484,
 '11-8-6': 539,
 '12-8-6': 1194,
 '13-8-6': 1408,
 '14-8-6': 2374,
 '15-8-6': 816,
 '16-8-6': 1526,
 '8-9-6': 722,
 '9-9-6': 1145,
 '10-9-6': 406,
 '11-9-6': 1533,
 '12-9-6': 610,
 '13-9-6': 1319,
 '14-9-6': 1384,
 '15-9-6': 1351,
 '16-9-6': 1198,
 '8-10-6': 663,
 '9-10-6': 868,
 '10-10-6': 1716,
 '11-10-6': 1285,
 '12-10-6': 666,
 '13-10-6': 1391,
 '14-10-6': 2015,
 '15-10-6': 1231,
 '16-10-6': 568,
 '8-11-6': 1460,
 '9-11-6': 1295,
 '10-11-6': 1568,
 '11-11-6': 815,
 '12-11-6': 1669,
 '13-11-6': 1681,
 '14-11-6': 1648,
 '15-11-6': 1525,
 '16-11-6': 1354,
 '8-12-6': 946,
 '9-12-6': 1129,
 '10-12-6': 1373,
 '11-12-6': 1469,
 '12-12-6': 1548,
 '13-12-6': 1579,
 '14-12-6': 1510,
 '15-12-6': 2080,
 '16-12-6': 610,
 '7-13-6': 388,
 '8-13-6': 422,
 '9-13-6': 1551,
 '10-13-6': 658,
 '11-13-6': 2242,
 '12-13-6': 786,
 '13-13-6': 2373,
 '14-13-6': 785,
 '15-13-6': 1487,
 '16-13-6': 1389,
 '8-14-6': 812,
 '9-14-6': 998,
 '10-14-6': 1213,
 '11-14-6': 1326,
 '12-14-6': 1411,
 '13-14-6': 1451,
 '14-14-6': 1416,
 '15-14-6': 1311,
 '16-14-6': 1166,
 '8-15-6': 738,
 '9-15-6': 894,
 '10-15-6': 1166,
 '11-15-6': 1321,
 '12-15-6': 1535,
 '13-15-6': 1717,
 '14-15-6': 1840,
 '15-15-6': 1860,
 '16-15-6': 1807,
 '8-16-6': 944,
 '9-16-6': 1329,
 '10-16-6': 1494,
 '11-16-6': 1496,
 '12-16-6': 1577,
 '13-16-6': 1618,
 '14-16-6': 1530,
 '15-16-6': 2012,
 '16-16-6': 584,
 '8-17-6': 725,
 '9-17-6': 888,
 '10-17-6': 1140,
 '11-17-6': 1312,
 '12-17-6': 2088,
 '13-17-6': 721,
 '14-17-6': 2106,
 '15-17-6': 1312,
 '16-17-6': 607,
 '8-18-6': 986,
 '9-18-6': 1170,
 '10-18-6': 1454,
 '11-18-6': 1590,
 '12-18-6': 1616,
 '13-18-6': 2418,
 '14-18-6': 782,
 '15-18-6': 2218,
 '16-18-6': 649,
 '8-19-6': 1482,
 '9-19-6': 1277,
 '10-19-6': 1495,
 '11-19-6': 1574,
 '12-19-6': 1614,
 '13-19-6': 1626,
 '14-19-6': 1560,
 '15-19-6': 1431,
 '16-19-6': 656,
 '7-22-6': 302,
 '8-22-6': 645,
 '9-22-6': 779,
 '10-22-6': 935,
 '11-22-6': 1170,
 '12-22-6': 1437,
 '13-22-6': 1633,
 '14-22-6': 1716,
 '15-22-6': 1714,
 '16-22-6': 824,
 '7-23-6': 360,
 '8-23-6': 747,
 '9-23-6': 812,
 '10-23-6': 973,
 '11-23-6': 1209,
 '12-23-6': 698,
 '13-23-6': 2400,
 '14-23-6': 1722,
 '15-23-6': 1608,
 '16-23-6': 684,
 '7-24-6': 310,
 '8-24-6': 358,
 '9-24-6': 1353,
 '10-24-6': 526,
 '11-24-6': 1170,
 '12-24-6': 1997,
 '13-24-6': 1418,
 '14-24-6': 1408,
 '15-24-6': 662,
 '16-24-6': 1193,
 '8-25-6': 845,
 '9-25-6': 1645,
 '10-25-6': 1323,
 '11-25-6': 742,
 '12-25-6': 1597,
 '13-25-6': 2439,
 '14-25-6': 816,
 '15-25-6': 2283,
 '16-25-6': 662,
 '7-26-6': 403,
 '8-26-6': 960,
 '9-26-6': 1209,
 '10-26-6': 1414,
 '11-26-6': 1525,
 '12-26-6': 1609,
 '13-26-6': 1668,
 '14-26-6': 1650,
 '15-26-6': 1537,
 '16-26-6': 681,
 '7-27-6': 381,
 '8-27-6': 906,
 '9-27-6': 1100,
 '10-27-6': 1262,
 '11-27-6': 1433,
 '12-27-6': 1584,
 '13-27-6': 1662,
 '14-27-6': 1671,
 '15-27-6': 1541,
 '16-27-6': 697,
 '8-28-6': 818,
 '9-28-6': 497,
 '10-28-6': 1730,
 '11-28-6': 662,
 '12-28-6': 1416,
 '13-28-6': 1552,
 '14-28-6': 1595,
 '15-28-6': 1529,
 '16-28-6': 1337,
 '7-29-6': 360,
 '8-29-6': 757,
 '9-29-6': 926,
 '10-29-6': 1220,
 '11-29-6': 692,
 '12-29-6': 2364,
 '13-29-6': 1659,
 '14-29-6': 1807,
 '15-29-6': 1766,
 '16-29-6': 859,
 '7-30-6': 396,
 '8-30-6': 1528,
 '9-30-6': 1750,
 '10-30-6': 2036,
 '11-30-6': 2358,
 '12-30-6': 1937,
 '13-30-6': 4070,
 '14-30-6': 1388,
 '15-30-6': 2629,
 '16-30-6': 1089,
 '8-1-7': 624,
 '9-1-7': 801,
 '10-1-7': 1054,
 '11-1-7': 1237,
 '12-1-7': 1303,
 '13-1-7': 1337,
 '14-1-7': 1321,
 '15-1-7': 1218,
 '16-1-7': 1084,
 '7-2-7': 346,
 '8-2-7': 790,
 '9-2-7': 1056,
 '10-2-7': 1261,
 '11-2-7': 1394,
 '12-2-7': 708,
 '13-2-7': 1445,
 '14-2-7': 2149,
 '15-2-7': 644,
 '16-2-7': 1141,
 '8-3-7': 758,
 '9-3-7': 982,
 '10-3-7': 1250,
 '11-3-7': 1417,
 '12-3-7': 2257,
 '13-3-7': 1581,
 '14-3-7': 762,
 '15-3-7': 1449,
 '16-3-7': 1252,
 '8-4-7': 1071,
 '9-4-7': 458,
 '10-4-7': 1048,
 '11-4-7': 1190,
 '12-4-7': 1273,
 '13-4-7': 1966,
 '14-4-7': 636,
 '15-4-7': 1102,
 '16-4-7': 939,
 '8-5-7': 770,
 '9-5-7': 729,
 '10-5-7': 911,
 '11-5-7': 525,
 '12-5-7': 1277,
 '13-5-7': 2263,
 '14-5-7': 799,
 '15-5-7': 1608,
 '16-5-7': 1520,
 '8-6-7': 551,
 '9-6-7': 559,
 '10-6-7': 1063,
 '11-6-7': 984,
 '12-6-7': 557,
 '13-6-7': 2083,
 '14-6-7': 739,
 '15-6-7': 2087,
 '16-6-7': 576,
 '8-7-7': 881,
 '9-7-7': 861,
 '10-7-7': 1107,
 '11-7-7': 1202,
 '12-7-7': 1253,
 '13-7-7': 1266,
 '14-7-7': 624,
 '15-7-7': 1178,
 '16-7-7': 1040,
 '7-8-7': 421,
 '8-8-7': 938,
 '9-8-7': 1183,
 '10-8-7': 700,
 '11-8-7': 2257,
 '12-8-7': 781,
 '13-8-7': 1629,
 '14-8-7': 1607,
 '15-8-7': 1503,
 '16-8-7': 1290,
 '8-9-7': 894,
 '9-9-7': 1085,
 '10-9-7': 1302,
 '11-9-7': 1480,
 '12-9-7': 1619,
 '13-9-7': 1637,
 '14-9-7': 1620,
 '15-9-7': 1586,
 '16-9-7': 1420,
 '8-10-7': 845,
 '9-10-7': 1028,
 '10-10-7': 1316,
 '11-10-7': 1480,
 '12-10-7': 1587,
 '13-10-7': 1633,
 '14-10-7': 1577,
 '15-10-7': 1470,
 '16-10-7': 1267,
 '8-11-7': 759,
 '9-11-7': 931,
 '10-11-7': 1138,
 '11-11-7': 1320,
 '12-11-7': 1426,
 '13-11-7': 1527,
 '14-11-7': 1512,
 '15-11-7': 1427,
 '16-11-7': 1274,
 '8-12-7': 626,
 '9-12-7': 746,
 '10-12-7': 948,
 '11-12-7': 1184,
 '12-12-7': 1369,
 '13-12-7': 1571,
 '14-12-7': 1683,
 '15-12-7': 1791,
 '16-12-7': 1724,
 '8-13-7': 757,
 '9-13-7': 796,
 '10-13-7': 939,
 '11-13-7': 1149,
 '12-13-7': 1292,
 '13-13-7': 1434,
 '14-13-7': 1442,
 '15-13-7': 1366,
 '16-13-7': 1108,
 '8-14-7': 617,
 '9-14-7': 762,
 '10-14-7': 986,
 '11-14-7': 1193,
 '12-14-7': 1315,
 '13-14-7': 1366,
 '14-14-7': 1335,
 '15-14-7': 1214,
 '16-14-7': 1063,
 '7-15-7': 402,
 '8-15-7': 892,
 '9-15-7': 1149,
 '10-15-7': 702,
 '11-15-7': 2253,
 '12-15-7': 1553,
 '13-15-7': 779,
 '14-15-7': 1553,
 '15-15-7': 2093,
 '16-15-7': 607,
 '8-16-7': 1033,
 '9-16-7': 1251,
 '10-16-7': 1466,
 '11-16-7': 1564,
 '12-16-7': 1628,
 '13-16-7': 1648,
 '14-16-7': 1604,
 '15-16-7': 1502,
 '16-16-7': 1363,
 '8-17-7': 831,
 '9-17-7': 1767,
 '10-17-7': 772,
 '11-17-7': 1681,
 '12-17-7': 1772,
 '13-17-7': 1823,
 '14-17-7': 2694,
 '15-17-7': 1645,
 '16-17-7': 759,
 '8-18-7': 730,
 '9-18-7': 475,
 '10-18-7': 1112,
 '11-18-7': 1267,
 '12-18-7': 1386,
 '13-18-7': 1455,
 '14-18-7': 1417,
 '15-18-7': 1314,
 '16-18-7': 1186,
 '7-19-7': 285,
 '8-19-7': 674,
 '9-19-7': 433,
 '10-19-7': 1738,
 '11-19-7': 732,
 '12-19-7': 1658,
 '13-19-7': 1837,
 '14-19-7': 2010,
 '15-19-7': 2056,
 '16-19-7': 1984,
 '8-20-7': 696,
 '9-20-7': 744,
 '10-20-7': 958,
 '11-20-7': 1271,
 '12-20-7': 1540,
 '13-20-7': 1717,
 '14-20-7': 1818,
 '15-20-7': 1797,
 '16-20-7': 1615,
 '8-21-7': 679,
 '9-21-7': 844,
 '10-21-7': 1090,
 '11-21-7': 2023,
 '12-21-7': 1501,
 '13-21-7': 764,
 '14-21-7': 2203,
 '15-21-7': 1283,
 '16-21-7': 561,
 '7-22-7': 415,
 '8-22-7': 447,
 '9-22-7': 1042,
 '10-22-7': 1257,
 '11-22-7': 1448,
 '12-22-7': 2293,
 '13-22-7': 1581,
 '14-22-7': 1519,
 '15-22-7': 1413,
 '16-22-7': 619,
 '8-23-7': 1466,
 '9-23-7': 612,
 '10-23-7': 1431,
 '11-23-7': 2416,
 '12-23-7': 842,
 '13-23-7': 2573,
 '14-23-7': 864,
 '15-23-7': 1622,
 '16-23-7': 1450,
 '8-24-7': 774,
 '9-24-7': 958,
 '10-24-7': 1177,
 '11-24-7': 1396,
 '12-24-7': 1566,
 '13-24-7': 2469,
 '14-24-7': 1572,
 '15-24-7': 1433,
 '16-24-7': 657,
 '8-25-7': 392,
 '9-25-7': 1030,
 '10-25-7': 1310,
 '11-25-7': 1548,
 '12-25-7': 1703,
 '13-25-7': 1759,
 '14-25-7': 1753,
 '15-25-7': 1625,
 '16-25-7': 1422,
 '8-26-7': 799,
 '9-26-7': 1050,
 '10-26-7': 1421,
 '11-26-7': 1677,
 '12-26-7': 1892,
 '13-26-7': 2064,
 '14-26-7': 2284,
 '15-26-7': 2465,
 '16-26-7': 2444,
 '8-27-7': 868,
 '9-27-7': 910,
 '10-27-7': 1075,
 '11-27-7': 1430,
 '12-27-7': 1682,
 '13-27-7': 1845,
 '14-27-7': 1966,
 '15-27-7': 1962,
 '16-27-7': 1799,
 '8-28-7': 771,
 '9-28-7': 964,
 '10-28-7': 1292,
 '11-28-7': 1544,
 '12-28-7': 1666,
 '13-28-7': 1728,
 '14-28-7': 1718,
 '15-28-7': 1590,
 '16-28-7': 1413,
 '7-29-7': 476,
 '8-29-7': 520,
 '9-29-7': 1175,
 '10-29-7': 1326,
 '11-29-7': 2419,
 '12-29-7': 828,
 '13-29-7': 1674,
 '14-29-7': 2534,
 '15-29-7': 769,
 '16-29-7': 1421,
 '8-30-7': 911,
 '9-30-7': 1173,
 '10-30-7': 2287,
 '11-30-7': 839,
 '12-30-7': 1714,
 '13-30-7': 1678,
 '14-30-7': 1681,
 '15-30-7': 1594,
 '16-30-7': 1436,
 '8-1-8': 1522,
 '9-1-8': 1328,
 '10-1-8': 1617,
 '11-1-8': 1777,
 '12-1-8': 1820,
 '13-1-8': 1891,
 '14-1-8': 1828,
 '15-1-8': 1687,
 '16-1-8': 792,
 '7-2-8': 375,
 '8-2-8': 404,
 '9-2-8': 952,
 '10-2-8': 1128,
 '11-2-8': 1321,
 '12-2-8': 2332,
 '13-2-8': 1634,
 '14-2-8': 1566,
 '15-2-8': 1401,
 '16-2-8': 625,
 '8-5-8': 637,
 '9-5-8': 793,
 '10-5-8': 1066,
 '11-5-8': 2116,
 '12-5-8': 799,
 '13-5-8': 1642,
 '14-5-8': 1565,
 '15-5-8': 1398,
 '16-5-8': 1199,
 '7-6-8': 386,
 '8-6-8': 849,
 '9-6-8': 506,
 '10-6-8': 1239,
 '11-6-8': 2293,
 '12-6-8': 1589,
 '13-6-8': 822,
 '14-6-8': 1627,
 '15-6-8': 1485,
 '16-6-8': 1293,
 '7-7-8': 424,
 '8-7-8': 953,
 '9-7-8': 1198,
 '10-7-8': 1448,
 '11-7-8': 1601,
 '12-7-8': 1693,
 '13-7-8': 1786,
 '14-7-8': 1734,
 '15-7-8': 1575,
 '16-7-8': 743,
 '7-8-8': 389,
 '8-8-8': 862,
 '9-8-8': 1140,
 '10-8-8': 1549,
 '11-8-8': 1733,
 '12-8-8': 1764,
 '13-8-8': 1803,
 '14-8-8': 1778,
 '15-8-8': 1656,
 '16-8-8': 750,
 '8-9-8': 1434,
 '9-9-8': 1201,
 '10-9-8': 1410,
 '11-9-8': 1586,
 '12-9-8': 831,
 '13-9-8': 1719,
 '14-9-8': 2466,
 '15-9-8': 750,
 '16-9-8': 1392,
 '7-10-8': 400,
 '8-10-8': 419,
 '9-10-8': 1612,
 '10-10-8': 656,
 '11-10-8': 1471,
 '12-10-8': 2522,
 '13-10-8': 1872,
 '14-10-8': 976,
 '15-10-8': 2927,
 '16-10-8': 944,
 '8-11-8': 1150,
 '9-11-8': 887,
 '10-11-8': 1233,
 '11-11-8': 1659,
 '12-11-8': 924,
 '13-11-8': 3006,
 '14-11-8': 2088,
 '15-11-8': 1948,
 '16-11-8': 896,
 '8-12-8': 735,
 '9-12-8': 927,
 '10-12-8': 1272,
 '11-12-8': 2377,
 '12-12-8': 1723,
 '13-12-8': 868,
 '14-12-8': 2508,
 '15-12-8': 1563,
 '16-12-8': 724,
 '8-13-8': 877,
 '9-13-8': 1718,
 '10-13-8': 715,
 '11-13-8': 1558,
 '12-13-8': 1679,
 '13-13-8': 1735,
 '14-13-8': 1599,
 '15-13-8': 736,
 '16-13-8': 1368,
 '8-14-8': 956,
 '9-14-8': 1130,
 '10-14-8': 1414,
 '11-14-8': 772,
 '12-14-8': 1590,
 '13-14-8': 1637,
 '14-14-8': 2516,
 '15-14-8': 1561,
 '16-14-8': 728,
 '7-15-8': 397,
 '8-15-8': 447,
 '9-15-8': 1657,
 '10-15-8': 696,
 '11-15-8': 1568,
 '12-15-8': 1711,
 '13-15-8': 1816,
 '14-15-8': 1830,
 '15-15-8': 1738,
 '16-15-8': 1622,
 '7-16-8': 472,
 '8-16-8': 518,
 '9-16-8': 1168,
 '10-16-8': 1369,
 '11-16-8': 2294,
 '12-16-8': 1609,
 '13-16-8': 1645,
 '14-16-8': 1627,
 '15-16-8': 796,
 '16-16-8': 1517,
 '7-17-8': 387,
 '8-17-8': 403,
 '9-17-8': 1598,
 '10-17-8': 643,
 '11-17-8': 1342,
 '12-17-8': 1550,
 '13-17-8': 1776,
 '14-17-8': 1975,
 '15-17-8': 3032,
 '16-17-8': 988,
 '8-18-8': 1060,
 '9-18-8': 802,
 '10-18-8': 499,
 '11-18-8': 1287,
 '12-18-8': 2312,
 '13-18-8': 858,
 '14-18-8': 2696,
 '15-18-8': 875,
 '16-18-8': 1597,
 '8-19-8': 659,
 '9-19-8': 1412,
 '10-19-8': 634,
 '11-19-8': 1448,
 '12-19-8': 1650,
 '13-19-8': 1837,
 '14-19-8': 1962,
 '15-19-8': 1930,
 '16-19-8': 1694}

# Preparing Test Dataset

In [26]:
test0,test1,test2,test3,test4,test5,test6,test7,test8,test9 = {},{},{},{},{},{},{},{},{},{}

In [27]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_0['Hour'],df_test_id_0['day'],df_test_id_0['month'],df_test_id_0['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test0:
                    test0[full_date] = use
            else:
                test0[full_date] += use

In [28]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_1['Hour'],df_test_id_1['day'],df_test_id_1['month'],df_test_id_1['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test1:
                    test1[full_date] = use
            else:
                test1[full_date] += use

In [29]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_2['Hour'],df_test_id_2['day'],df_test_id_2['month'],df_test_id_2['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test2:
                    test2[full_date] = use
            else:
                test2[full_date] += use

In [30]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_3['Hour'],df_test_id_3['day'],df_test_id_3['month'],df_test_id_3['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test3:
                    test3[full_date] = use
            else:
                test3[full_date] += use

In [31]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_4['Hour'],df_test_id_4['day'],df_test_id_4['month'],df_test_id_4['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test4:
                    test4[full_date] = use
            else:
                test4[full_date] += use

In [32]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_5['Hour'],df_test_id_5['day'],df_test_id_5['month'],df_test_id_5['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test5:
                    test5[full_date] = use
            else:
                test5[full_date] += use

In [33]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_6['Hour'],df_test_id_6['day'],df_test_id_6['month'],df_test_id_6['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test6:
                    test6[full_date] = use
            else:
                test6[full_date] += use

In [34]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_7['Hour'],df_test_id_7['day'],df_test_id_7['month'],df_test_id_7['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test7:
                    test7[full_date] = use
            else:
                test7[full_date] += use

In [72]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_8['Hour'],df_test_id_8['day'],df_test_id_8['month'],df_test_id_8['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test8:
                    test8[full_date] = use
            else:
                test8[full_date] += use

In [35]:
for _ ,(h,d,m,use) in enumerate (zip(df_test_id_9['Hour'],df_test_id_9['day'],df_test_id_9['month'],df_test_id_9['usage'])):
            full_date = str(h)+'-'+str(d)+'-'+str(m)
            if full_date not in test9:
                    test9[full_date] = use
            else:
                test9[full_date] += use

# Getting our data ready for training.

In [36]:
# My independent variable will be hour,day and month that's why we have to use StandartScaler
# Also I have just do it for a city. Because for other cities , We have to follow same proccess.
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [37]:
city1_time = dic0.keys()
X_train=[]
y_train = list(dic0.values())
for time in city1_time:
    split = time.split('-')
    split = list(map(int, split))
    X_train.append(split)

In [38]:
city1_test_time = test0.keys()
X_test=[]
y_test = list(test0.values())
for time in city1_test_time:
    split = time.split('-')
    split = list(map(int, split))
    X_test.append(split)

# Train With Linear Regression

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [41]:
print(X_test.shape , X_train.shape)
print(len(y_train) , len(y_test))

(142, 3) (674, 3)
674 142

In [46]:
regression = LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [47]:
y_pred = regression.predict(X_test)

In [48]:
from sklearn.metrics import mean_squared_log_error
loss = mean_squared_log_error(y_test,y_pred)
print(loss)

0.2794571895356421

In [56]:
import tensorflow as tf
from tensorflow.keras.models import *
from tensorflow.keras.layers import *
from keras.layers import LeakyReLU

In [69]:
np_x_train = np.array(X_train)
np_x_test = np.array(X_test)
np_y_train = np.array(y_train)
np_y_test = np.array(y_test)
print(np_x_train.shape)

(674, 3)

# Train just Dense Layers

In [107]:
model = Sequential()
model.add(Dense(256,activation=tf.keras.layers.LeakyReLU(alpha=0.1),input_shape=(3,)))
model.add(Dense(256,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dense(64,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dense(1))
model.compile(loss='mean_squared_logarithmic_error',optimizer='adam',metrics=['MeanSquaredLogarithmicError'])
model.fit(np_x_train, np_y_train , epochs=50,validation_data=(np_x_test,np_y_test))

Epoch 1/50
22/22 [==============================] - 1s 17ms/step - loss: 33.4691 - mean_squared_logarithmic_error: 33.4691 - val_loss: 22.4973 - val_mean_squared_logarithmic_error: 22.4973
Epoch 2/50
22/22 [==============================] - ETA: 0s - loss: 16.6496 - mean_squared_logarithmic_error: 16.64 - 0s 9ms/step - loss: 15.5377 - mean_squared_logarithmic_error: 15.5377 - val_loss: 11.3681 - val_mean_squared_logarithmic_error: 11.3681
Epoch 3/50
22/22 [==============================] - 0s 9ms/step - loss: 8.3236 - mean_squared_logarithmic_error: 8.3236 - val_loss: 6.8115 - val_mean_squared_logarithmic_error: 6.8115
Epoch 4/50
22/22 [==============================] - 0s 9ms/step - loss: 5.1123 - mean_squared_logarithmic_error: 5.1123 - val_loss: 4.4553 - val_mean_squared_logarithmic_error: 4.4553
Epoch 5/50
22/22 [==============================] - 0s 9ms/step - loss: 3.3909 - mean_squared_logarithmic_error: 3.3909 - val_loss: 3.0913 - val_mean_squared_logarithmic_error: 3.0913
Epoch 6/50
22/22 [==============================] - 0s 9ms/step - loss: 2.3693 - mean_squared_logarithmic_error: 2.3693 - val_loss: 2.2303 - val_mean_squared_logarithmic_error: 2.2303
Epoch 7/50
22/22 [==============================] - 0s 9ms/step - loss: 1.7195 - mean_squared_logarithmic_error: 1.7195 - val_loss: 1.6539 - val_mean_squared_logarithmic_error: 1.6539
Epoch 8/50
22/22 [==============================] - 0s 9ms/step - loss: 1.2902 - mean_squared_logarithmic_error: 1.2902 - val_loss: 1.2715 - val_mean_squared_logarithmic_error: 1.2715
Epoch 9/50
22/22 [==============================] - 0s 9ms/step - loss: 1.0014 - mean_squared_logarithmic_error: 1.0014 - val_loss: 1.0136 - val_mean_squared_logarithmic_error: 1.0136
Epoch 10/50
22/22 [==============================] - 0s 10ms/step - loss: 0.7992 - mean_squared_logarithmic_error: 0.7992 - val_loss: 0.8256 - val_mean_squared_logarithmic_error: 0.8256
Epoch 11/50
22/22 [==============================] - 0s 9ms/step - loss: 0.6609 - mean_squared_logarithmic_error: 0.6609 - val_loss: 0.6877 - val_mean_squared_logarithmic_error: 0.6877
Epoch 12/50
22/22 [==============================] - 0s 9ms/step - loss: 0.5649 - mean_squared_logarithmic_error: 0.5649 - val_loss: 0.6003 - val_mean_squared_logarithmic_error: 0.6003
Epoch 13/50
22/22 [==============================] - 0s 9ms/step - loss: 0.5006 - mean_squared_logarithmic_error: 0.5006 - val_loss: 0.5258 - val_mean_squared_logarithmic_error: 0.5258
Epoch 14/50
22/22 [==============================] - 0s 9ms/step - loss: 0.4514 - mean_squared_logarithmic_error: 0.4514 - val_loss: 0.4745 - val_mean_squared_logarithmic_error: 0.4745
Epoch 15/50
22/22 [==============================] - 0s 9ms/step - loss: 0.4193 - mean_squared_logarithmic_error: 0.4193 - val_loss: 0.4432 - val_mean_squared_logarithmic_error: 0.4432
Epoch 16/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3970 - mean_squared_logarithmic_error: 0.3970 - val_loss: 0.4159 - val_mean_squared_logarithmic_error: 0.4159
Epoch 17/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3785 - mean_squared_logarithmic_error: 0.3785 - val_loss: 0.3891 - val_mean_squared_logarithmic_error: 0.3891
Epoch 18/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3636 - mean_squared_logarithmic_error: 0.3636 - val_loss: 0.3726 - val_mean_squared_logarithmic_error: 0.3726
Epoch 19/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3540 - mean_squared_logarithmic_error: 0.3540 - val_loss: 0.3619 - val_mean_squared_logarithmic_error: 0.3619
Epoch 20/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3467 - mean_squared_logarithmic_error: 0.3467 - val_loss: 0.3523 - val_mean_squared_logarithmic_error: 0.3523
Epoch 21/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3403 - mean_squared_logarithmic_error: 0.3403 - val_loss: 0.3446 - val_mean_squared_logarithmic_error: 0.3446
Epoch 22/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3353 - mean_squared_logarithmic_error: 0.3353 - val_loss: 0.3393 - val_mean_squared_logarithmic_error: 0.3393
Epoch 23/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3314 - mean_squared_logarithmic_error: 0.3314 - val_loss: 0.3349 - val_mean_squared_logarithmic_error: 0.3349
Epoch 24/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3276 - mean_squared_logarithmic_error: 0.3276 - val_loss: 0.3313 - val_mean_squared_logarithmic_error: 0.3313
Epoch 25/50
22/22 [==============================] - 0s 9ms/step - loss: 0.3244 - mean_squared_logarithmic_error: 0.3244 - val_loss: 0.3277 - val_mean_squared_logarithmic_error: 0.3277
Epoch 26/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3215 - mean_squared_logarithmic_error: 0.3215 - val_loss: 0.3250 - val_mean_squared_logarithmic_error: 0.3250
Epoch 27/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3190 - mean_squared_logarithmic_error: 0.3190 - val_loss: 0.3225 - val_mean_squared_logarithmic_error: 0.3225
Epoch 28/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3168 - mean_squared_logarithmic_error: 0.3168 - val_loss: 0.3204 - val_mean_squared_logarithmic_error: 0.3204
Epoch 29/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3149 - mean_squared_logarithmic_error: 0.3149 - val_loss: 0.3189 - val_mean_squared_logarithmic_error: 0.3189
Epoch 30/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3129 - mean_squared_logarithmic_error: 0.3129 - val_loss: 0.3173 - val_mean_squared_logarithmic_error: 0.3173
Epoch 31/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3109 - mean_squared_logarithmic_error: 0.3109 - val_loss: 0.3157 - val_mean_squared_logarithmic_error: 0.3157
Epoch 32/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3092 - mean_squared_logarithmic_error: 0.3092 - val_loss: 0.3142 - val_mean_squared_logarithmic_error: 0.3142
Epoch 33/50
22/22 [==============================] - 0s 15ms/step - loss: 0.3078 - mean_squared_logarithmic_error: 0.3078 - val_loss: 0.3122 - val_mean_squared_logarithmic_error: 0.3122
Epoch 34/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3055 - mean_squared_logarithmic_error: 0.3055 - val_loss: 0.3108 - val_mean_squared_logarithmic_error: 0.3108
Epoch 35/50
22/22 [==============================] - 0s 11ms/step - loss: 0.3043 - mean_squared_logarithmic_error: 0.3043 - val_loss: 0.3102 - val_mean_squared_logarithmic_error: 0.3102
Epoch 36/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3024 - mean_squared_logarithmic_error: 0.3024 - val_loss: 0.3091 - val_mean_squared_logarithmic_error: 0.3091
Epoch 37/50
22/22 [==============================] - 0s 10ms/step - loss: 0.3008 - mean_squared_logarithmic_error: 0.3008 - val_loss: 0.3085 - val_mean_squared_logarithmic_error: 0.3085
Epoch 38/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2993 - mean_squared_logarithmic_error: 0.2993 - val_loss: 0.3070 - val_mean_squared_logarithmic_error: 0.3070
Epoch 39/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2976 - mean_squared_logarithmic_error: 0.2976 - val_loss: 0.3057 - val_mean_squared_logarithmic_error: 0.3057
Epoch 40/50
22/22 [==============================] - 0s 10ms/step - loss: 0.2961 - mean_squared_logarithmic_error: 0.2961 - val_loss: 0.3045 - val_mean_squared_logarithmic_error: 0.3045
Epoch 41/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2947 - mean_squared_logarithmic_error: 0.2947 - val_loss: 0.3038 - val_mean_squared_logarithmic_error: 0.3038
Epoch 42/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2930 - mean_squared_logarithmic_error: 0.2930 - val_loss: 0.3033 - val_mean_squared_logarithmic_error: 0.3033
Epoch 43/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2912 - mean_squared_logarithmic_error: 0.2912 - val_loss: 0.3028 - val_mean_squared_logarithmic_error: 0.3028
Epoch 44/50
22/22 [==============================] - 0s 11ms/step - loss: 0.2899 - mean_squared_logarithmic_error: 0.2899 - val_loss: 0.3016 - val_mean_squared_logarithmic_error: 0.3016
Epoch 45/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2886 - mean_squared_logarithmic_error: 0.2886 - val_loss: 0.3000 - val_mean_squared_logarithmic_error: 0.3000
Epoch 46/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2866 - mean_squared_logarithmic_error: 0.2866 - val_loss: 0.2985 - val_mean_squared_logarithmic_error: 0.2985
Epoch 47/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2847 - mean_squared_logarithmic_error: 0.2847 - val_loss: 0.2974 - val_mean_squared_logarithmic_error: 0.2974
Epoch 48/50
22/22 [==============================] - 0s 10ms/step - loss: 0.2833 - mean_squared_logarithmic_error: 0.2833 - val_loss: 0.2961 - val_mean_squared_logarithmic_error: 0.2961
Epoch 49/50
22/22 [==============================] - 0s 9ms/step - loss: 0.2815 - mean_squared_logarithmic_error: 0.2815 - val_loss: 0.2959 - val_mean_squared_logarithmic_error: 0.2959
Epoch 50/50
22/22 [==============================] - 0s 10ms/step - loss: 0.2799 - mean_squared_logarithmic_error: 0.2799 - val_loss: 0.2948 - val_mean_squared_logarithmic_error: 0.2948

# Train with GRU

In [100]:
train_x = np_x_train.reshape(-1,1,3)
test_x = np_x_test.reshape(-1,1,3)

In [118]:
model = Sequential()
model.add(GRU(256,activation=tf.keras.layers.LeakyReLU(alpha=0.1),input_shape=(1,3)))
model.add(Dense(256,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dense(128,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dropout(0.25))
model.add(Dense(64,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dense(32,activation=tf.keras.layers.LeakyReLU(alpha=0.1)))
model.add(Dense(1))
model.compile(loss='mean_squared_logarithmic_error',optimizer='adam',metrics=['MeanSquaredLogarithmicError'])
model.fit(train_x, np_y_train , epochs=50,validation_data=(test_x,np_y_test))

WARNING:tensorflow:Layer gru_3 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Epoch 1/50
22/22 [==============================] - 3s 38ms/step - loss: 34.2870 - mean_squared_logarithmic_error: 34.2870 - val_loss: 17.0553 - val_mean_squared_logarithmic_error: 17.0553
Epoch 2/50
22/22 [==============================] - 1s 23ms/step - loss: 8.6544 - mean_squared_logarithmic_error: 8.6544 - val_loss: 3.4241 - val_mean_squared_logarithmic_error: 3.4241
Epoch 3/50
22/22 [==============================] - 0s 22ms/step - loss: 1.7442 - mean_squared_logarithmic_error: 1.7442 - val_loss: 0.8988 - val_mean_squared_logarithmic_error: 0.8988
Epoch 4/50
22/22 [==============================] - 0s 23ms/step - loss: 0.5903 - mean_squared_logarithmic_error: 0.5903 - val_loss: 0.4536 - val_mean_squared_logarithmic_error: 0.4536
Epoch 5/50
22/22 [==============================] - 0s 23ms/step - loss: 0.4154 - mean_squared_logarithmic_error: 0.4154 - val_loss: 0.3811 - val_mean_squared_logarithmic_error: 0.3811
Epoch 6/50
22/22 [==============================] - 0s 23ms/step - loss: 0.3718 - mean_squared_logarithmic_error: 0.3718 - val_loss: 0.3537 - val_mean_squared_logarithmic_error: 0.3537
Epoch 7/50
22/22 [==============================] - 0s 23ms/step - loss: 0.3530 - mean_squared_logarithmic_error: 0.3530 - val_loss: 0.3445 - val_mean_squared_logarithmic_error: 0.3445
Epoch 8/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3450 - mean_squared_logarithmic_error: 0.3450 - val_loss: 0.3371 - val_mean_squared_logarithmic_error: 0.3371
Epoch 9/50
22/22 [==============================] - 1s 24ms/step - loss: 0.3333 - mean_squared_logarithmic_error: 0.3333 - val_loss: 0.3321 - val_mean_squared_logarithmic_error: 0.3321
Epoch 10/50
22/22 [==============================] - 1s 24ms/step - loss: 0.3322 - mean_squared_logarithmic_error: 0.3322 - val_loss: 0.3252 - val_mean_squared_logarithmic_error: 0.3252
Epoch 11/50
22/22 [==============================] - 1s 26ms/step - loss: 0.3224 - mean_squared_logarithmic_error: 0.3224 - val_loss: 0.3205 - val_mean_squared_logarithmic_error: 0.3205
Epoch 12/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3179 - mean_squared_logarithmic_error: 0.3179 - val_loss: 0.3179 - val_mean_squared_logarithmic_error: 0.3179
Epoch 13/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3128 - mean_squared_logarithmic_error: 0.3128 - val_loss: 0.3148 - val_mean_squared_logarithmic_error: 0.3148
Epoch 14/50
22/22 [==============================] - 1s 25ms/step - loss: 0.3100 - mean_squared_logarithmic_error: 0.3100 - val_loss: 0.3133 - val_mean_squared_logarithmic_error: 0.3133
Epoch 15/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3099 - mean_squared_logarithmic_error: 0.3099 - val_loss: 0.3108 - val_mean_squared_logarithmic_error: 0.3108
Epoch 16/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3068 - mean_squared_logarithmic_error: 0.3068 - val_loss: 0.3109 - val_mean_squared_logarithmic_error: 0.3109
Epoch 17/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3026 - mean_squared_logarithmic_error: 0.3026 - val_loss: 0.3054 - val_mean_squared_logarithmic_error: 0.3054
Epoch 18/50
22/22 [==============================] - 1s 23ms/step - loss: 0.3002 - mean_squared_logarithmic_error: 0.3002 - val_loss: 0.3039 - val_mean_squared_logarithmic_error: 0.3039
Epoch 19/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2936 - mean_squared_logarithmic_error: 0.2936 - val_loss: 0.3029 - val_mean_squared_logarithmic_error: 0.3029
Epoch 20/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2931 - mean_squared_logarithmic_error: 0.2931 - val_loss: 0.3036 - val_mean_squared_logarithmic_error: 0.3036
Epoch 21/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2894 - mean_squared_logarithmic_error: 0.2894 - val_loss: 0.3016 - val_mean_squared_logarithmic_error: 0.3016
Epoch 22/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2943 - mean_squared_logarithmic_error: 0.2943 - val_loss: 0.3021 - val_mean_squared_logarithmic_error: 0.3021
Epoch 23/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2856 - mean_squared_logarithmic_error: 0.2856 - val_loss: 0.2985 - val_mean_squared_logarithmic_error: 0.2985
Epoch 24/50
22/22 [==============================] - 1s 25ms/step - loss: 0.2824 - mean_squared_logarithmic_error: 0.2824 - val_loss: 0.2964 - val_mean_squared_logarithmic_error: 0.2964
Epoch 25/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2845 - mean_squared_logarithmic_error: 0.2845 - val_loss: 0.2939 - val_mean_squared_logarithmic_error: 0.2939
Epoch 26/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2852 - mean_squared_logarithmic_error: 0.2852 - val_loss: 0.2915 - val_mean_squared_logarithmic_error: 0.2915
Epoch 27/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2794 - mean_squared_logarithmic_error: 0.2794 - val_loss: 0.2901 - val_mean_squared_logarithmic_error: 0.2901
Epoch 28/50
22/22 [==============================] - 1s 27ms/step - loss: 0.2777 - mean_squared_logarithmic_error: 0.2777 - val_loss: 0.2899 - val_mean_squared_logarithmic_error: 0.2899
Epoch 29/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2721 - mean_squared_logarithmic_error: 0.2721 - val_loss: 0.2885 - val_mean_squared_logarithmic_error: 0.2885
Epoch 30/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2710 - mean_squared_logarithmic_error: 0.2710 - val_loss: 0.2856 - val_mean_squared_logarithmic_error: 0.2856
Epoch 31/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2678 - mean_squared_logarithmic_error: 0.2678 - val_loss: 0.2828 - val_mean_squared_logarithmic_error: 0.2828
Epoch 32/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2685 - mean_squared_logarithmic_error: 0.2685 - val_loss: 0.2846 - val_mean_squared_logarithmic_error: 0.2846
Epoch 33/50
22/22 [==============================] - 1s 28ms/step - loss: 0.2708 - mean_squared_logarithmic_error: 0.2708 - val_loss: 0.2832 - val_mean_squared_logarithmic_error: 0.2832
Epoch 34/50
22/22 [==============================] - 1s 27ms/step - loss: 0.2672 - mean_squared_logarithmic_error: 0.2672 - val_loss: 0.2805 - val_mean_squared_logarithmic_error: 0.2805
Epoch 35/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2682 - mean_squared_logarithmic_error: 0.2682 - val_loss: 0.2788 - val_mean_squared_logarithmic_error: 0.2788
Epoch 36/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2632 - mean_squared_logarithmic_error: 0.2632 - val_loss: 0.2780 - val_mean_squared_logarithmic_error: 0.2780
Epoch 37/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2620 - mean_squared_logarithmic_error: 0.2620 - val_loss: 0.2749 - val_mean_squared_logarithmic_error: 0.2749
Epoch 38/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2586 - mean_squared_logarithmic_error: 0.2586 - val_loss: 0.2743 - val_mean_squared_logarithmic_error: 0.2743
Epoch 39/50
22/22 [==============================] - 1s 27ms/step - loss: 0.2545 - mean_squared_logarithmic_error: 0.2545 - val_loss: 0.2731 - val_mean_squared_logarithmic_error: 0.2731
Epoch 40/50
22/22 [==============================] - 1s 29ms/step - loss: 0.2565 - mean_squared_logarithmic_error: 0.2565 - val_loss: 0.2709 - val_mean_squared_logarithmic_error: 0.2709
Epoch 41/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2555 - mean_squared_logarithmic_error: 0.2555 - val_loss: 0.2706 - val_mean_squared_logarithmic_error: 0.2706
Epoch 42/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2510 - mean_squared_logarithmic_error: 0.2510 - val_loss: 0.2693 - val_mean_squared_logarithmic_error: 0.2693
Epoch 43/50
22/22 [==============================] - 1s 24ms/step - loss: 0.2503 - mean_squared_logarithmic_error: 0.2503 - val_loss: 0.2669 - val_mean_squared_logarithmic_error: 0.2669
Epoch 44/50
22/22 [==============================] - 0s 22ms/step - loss: 0.2453 - mean_squared_logarithmic_error: 0.2453 - val_loss: 0.2651 - val_mean_squared_logarithmic_error: 0.2651
Epoch 45/50
22/22 [==============================] - 0s 23ms/step - loss: 0.2443 - mean_squared_logarithmic_error: 0.2443 - val_loss: 0.2650 - val_mean_squared_logarithmic_error: 0.2650
Epoch 46/50
22/22 [==============================] - 1s 25ms/step - loss: 0.2454 - mean_squared_logarithmic_error: 0.2454 - val_loss: 0.2624 - val_mean_squared_logarithmic_error: 0.2624
Epoch 47/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2384 - mean_squared_logarithmic_error: 0.2384 - val_loss: 0.2620 - val_mean_squared_logarithmic_error: 0.2620
Epoch 48/50
22/22 [==============================] - 1s 27ms/step - loss: 0.2350 - mean_squared_logarithmic_error: 0.2350 - val_loss: 0.2611 - val_mean_squared_logarithmic_error: 0.2611
Epoch 49/50
22/22 [==============================] - 1s 26ms/step - loss: 0.2304 - mean_squared_logarithmic_error: 0.2304 - val_loss: 0.2573 - val_mean_squared_logarithmic_error: 0.2573
Epoch 50/50
22/22 [==============================] - ETA: 0s - loss: 0.2276 - mean_squared_logarithmic_error: 0.22 - 1s 27ms/step - loss: 0.2249 - mean_squared_logarithmic_error: 0.2249 - val_loss: 0.2535 - val_mean_squared_logarithmic_error: 0.2535